/*Media querrys*/



/*media querry hasta 720px*/
@media screen and (max-width: 720px){
    .nav-bar-img img{
        display: none;
    }
    .nav-bar-img h1 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 15vw;
        margin: 1rem;
    }
    /*AgregarCarrito.html*/
    .agregarCarrito-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        /* Media query para ajustar el scroll en pantallas más pequeñas */
        .este {
            max-width: 100%; /* Ancho máximo del 100% en pantallas pequeñas */
            height: 200px; /* Altura ajustada */
        }
        .ac-lateral-left-contenido {
            flex-direction: column; /* Cambiar la dirección de los elementos en dispositivos más pequeños */
        }
        .ac-left-opciones{
            display: flex;
            flex-direction: column;
        }
        .ac-left-nombre{
            display: grid;
        }
        .ac-lateral-right {
            float: none;
        }
        .ac-lateral-left {
            float: none;
        }
    /**/
}
/*media querry desde 720px*/
@media screen and (min-width: 720px){
    
    /*nav-bar*/
    .nav-bar-img {
        flex-direction: column;
        align-items: start;
        flex-wrap: unset;
    }
    .nav-bar-img img{
        display: none;
    }

    .nav-bar-img h1 {
        margin: 1rem;
    }
    /*index-tarjetas*/
    
    .tarjetas-mystery-box {
        margin: 1px;
    }
    
    /*ejemploCarrito.html*/
    
}
/*Media querry hasta 1400px*/
@media screen and (max-width: 1400px){
    .agregarCarrito-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
/*Media querry desde 1400px*/
@media screen and (min-width: 1400px){

    /*nav-bar*/
    .nav-bar-img{
        display: flex;
        flex-direction: row;
    }
    .nav-bar-img img{
        display: flex;
    }
    .nav-bar-img h1 {
        margin: 1rem;
        margin-top: revert;
    }
    /*ejemploCarrito.html------------------------------------------------------------------------*/
    
    /*agregarCarrito.html------------------------------------------------------------------------*/
    

    /*tipoEnvio.html------------------------------------------------------------------------*/
    
    /*medioPago.html------------------------------------------------------------------------*/
    .medioPago-body{
    }
    .medio-pago-main-section{
    }
    .medioPago.html-aside{

    }
    /*compraEfectuada.html*/
    .cf-section{
        margin: 2rem 12rem 5rem 12rem;
        padding-bottom: 3rem;
        padding-top: 2rem;
    }
}
/*media querry desde 1920px*/
@media screen and (min-width: 1920px){

    /*navbar*/
    .nav-bar-titulo {
        margin-inline: auto;
    }
    div#navbarSupportedContent {
        flex-direction: row;
    }
    /*Lado-izquierdo*/
    .Lado-izquierdo {
        width: 66rem;

    }
    .Lado-izquierdo article {
        width: fit-content;
    }
    .tabla-producto {
        width: fit-content;
    }
    table.table {
        width: 50rem;
    }
    /*agregarCarrito*/
    .agregarCarrito-body {
        display: flex;
        flex-direction: row;
    }
    /*tipoEnvio*/
    .tipoEnvio-body {
        justify-content: center;
    }
    
    

}
