/*index.html*/

/*Definiendo colores*/
:root{
    --fondo-cuadros: rgb(236, 236, 236);
}
/*Sombras*/
.sombra{
    -webkit-box-shadow: 0px -1px 13px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 13px 4px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 13px 4px rgba(0,0,0,0.75);
}

.nav-bar-img{
    display: flex;
    flex-wrap: wrap;
}

.nav-bar-img img{
    justify-content: start;
}
.nav-bar-img h1{
    margin: 5rem 5rem 5rem 10rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: cursive;
    color: blue;
    font-size: 5rem;

}






.contenedor{
    max-width: 50rem;
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.nav-background{
    background-color: yellow;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

 @media (min-width: 768px){
    .nav-bar{
        flex-direction: row;
    }
    

 }
.nav-bar a{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 5px;
    padding-right: 5px;
    color: black;
    text-decoration:none;
    font-size: 1.2rem;
    font-weight: 700;
}

.nav-bar a:hover{
    background-color: orange;
    color: aliceblue;
}

.main-producto-tarjeta-seccion{
    display: flex;
    justify-content: space-between;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 5rem;
}

.main-mystery-box h2{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;

}

.tarjetas-mystery-box{
    display: flex;
    justify-content: space-between;
    margin: 5rem;
    border-radius: 5rem;
}

/*IniciarSesion.html*/
.is-titulo{
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
    background-color: yellow;
    text-decoration: underline;
}
.formulario{
    background-color: var(--fondo-cuadros);
    width: min(60rem , 100%);
    margin: 0 auto 10rem auto;
    padding: 5rem;
    border-radius: 1rem;
}

.formulario fieldset{
    border: none;
}

.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700px;
    margin-bottom: 2rem;
    color: black;
}

.formulario-campos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem;
}



.campo{
    margin-bottom: 1rem;
}

.campo label{
    color: black;
    font-weight: bold;
    margin-bottom: .5rem;
}
.campo input{
    background-color: blanchedalmond;
    padding: 1.5rem;
    border-radius: .5rem;

}

.boton{
    border-radius: .5rem;
    background-color: chocolate;
    color: black;
    padding: 1rem 3rem;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    width: 90%;
    text-align: center;
}
.boton:hover{
    cursor: pointer;

}
.formulario-boton{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

/*nuevaCuenta.html*/
.nc-titulo{
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
    background-color: yellow;
    text-decoration: underline;
}

.formulario-crearCuenta{
    background-color: var(--fondo-cuadros);
    width: min(60rem , 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario-crearCuenta fieldset{
    border: none;
}

.formulario-crearCuenta legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700px;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    color: black;
}

.crearCuenta-campos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem;

}

.crearCuenta-campos label{
    padding: 1rem;
}

.boton-nuevaCuenta{
    border-radius: .5rem;
    background-color: chocolate;
    color: black;
    padding: 2rem;
    margin: 2rem;
}

/*ejemploCarrito.html*/
.sombraV2{
    -webkit-box-shadow: -1px 4px 10px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 10px 3px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 10px 3px rgba(0,0,0,0.75);
}

.mainEjCarrito{
    
}
.p-azul{
    color: blue;
}
.p-1{
    color: blue;
}
.text-verde{
    color: green;
}
/*Lado izquierdo*/
.Lado-izquierdo{
    display: flex;
    float: left;
    flex-direction: column;
    width: 69rem;
    margin-bottom: 10rem;
    margin-top: 10rem;
    margin-left: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 5rem;
    background-color: var(--fondo-cuadros);
}
.articulo-img{
    margin-top: 10rem;
    margin-bottom: 8rem;
    margin-left: 10rem;
}
.articulo-caracteristicas {
    flex-direction: column;

}
.articulo-caracteristicas h2{
    margin-left: 3rem;
    padding-bottom: 3rem;
}
.tabla-producto{
    margin-left: 3rem;
    
}

.article-descripcion{
    flex-direction: column;
    margin-left: 3rem;
    
    margin-top: 3rem;
}
.article-descripcion h2{
    margin-bottom: 2rem;
}

/*Lado Derecho*/
.lado-derecho{
    display: flex;
    float: right;
    flex-direction: column;
    margin-right: 2rem;
    margin-left: 1rem;
    margin-top: 10rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
    padding-right: 1rem;
    
    margin-bottom: 2rem;
    background-color: var(--fondo-cuadros);
}


.lateral-info{
    display: flex;
    justify-content: space-between;
}
.lateral-info h1{
    padding-right: 1rem;
}
.lateral-precio h3{
    font-size: 3rem;
}
.lateral-cupones{
    margin-top: 3rem;
    margin-bottom: 4rem;
    
}
.fondo-azul{
    background-color: rgb(124, 201, 252);
    margin-right: 26rem;
}

.lateral-tipo{
    margin-top: 4rem;
    margin-bottom: 3rem;
    font-size: 2rem;
}

.lateral-stock{

}
.lateral-stock p{
    display: flex;
    flex-direction: row;

}
.lateral-b-comprar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 3rem;
    width: 40rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    
}

/*agregarCarrito.html*/

/*Lado Izquierdo*/
.ac-lateral-left{
    display: flex;
    float: left;
    flex-direction: column;
    background-color: var(--fondo-cuadros);
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    margin-left: 1rem;
    margin-right: 2rem;
    border-radius: 2rem;
}
.ac-lateral-left-article{

}
.ac-lateral-left-titulo{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-bottom: 2rem;
}

.ac-lateral-left-contenido{
    display: flex;
    flex-direction: row;

}

/*ponemos nombre y opciones en columna*/
.ac-left-nombre-op{
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem 2rem 1rem;
    text-decoration: none;
}
.ac-left-nombre{
    
}

.ac-left-opciones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    text-transform: capitalize;
    margin-left: 5rem;
    margin-right: 5rem;
}
/**/
.alinear-nombre-cantidad-precio{
    display: flex;
    flex-direction: row;
}
.ac-left-cantidad{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}
.ac-left-cantidad p{
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: .7rem;
}

/**/
.ac-left-precio{
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 1rem;
}
/**/
.ac-left-art-envio{
    display: flex;
    flex-direction: row;
}
.ac-left-art-envio h3{
    float: inline-end;
}

.ac-left-envio-titulo{
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    margin-left: 1rem;
    margin-right: 2rem;
    border-radius: 2rem;
}


.ac-left-envio-precio{
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    margin-left: 47rem;
    margin-right: 2rem;
    border-radius: 2rem;
}
/*Lado Derecho*/
.ac-lateral-right{
    display: flex;
    float: right;
    flex-direction: column;
    background-color: var(--fondo-cuadros);
    padding: 2rem 1rem 4rem 2rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    border-radius: 2rem;
}

.ac-lateral-right-titulo{
    padding: 1rem;
    text-decoration: none;
    justify-content: space-around;
}

.ac-right-detalle{
    display: flex;
    flex-direction: row;
}
.ac-right-detalle-p1{
    margin-right: 17rem;
}
.ac-right-cupones{
    display: flex;
    flex-direction: row;
}

.ac-right-total{
    display: flex;
    flex-direction: row;
}

.ac-right-total-p1{
    margin-right: 14rem;
}
.ac-right-total-p2{
    padding-right: 1rem;
}

.ac-derecho-boton button{
    width: 14rem;
    height: 4rem;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    

}